.navbar {
    height: 10hv;
    background: #01ffff;
    color:white;
    display: flex;
    justify-content: left;
    align-items: left
;

}

.navbar-logo {
    justify-content: center;
    display: flex;
    align-items: center;
}